body {
    transition: background-image 0.5s ease-in-out, background-color 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    gap: 7vh;
}
.btn-class{
    display: flex;
    justify-content: space-between;
    width: 35vw;

}
.btn{
    padding: 1vh 3vw;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn:hover {
    background-color: #000000;  
    color: white;
    transform: scale(1.09);
}

@media (max-width: 600px) {
    .btn {
        flex: 1;
        margin-right: 2vw;
    }
    .btn-class {
        width: 80%;
    }
}
